html, body {
    background-color: rgb(43, 41, 41);
    max-width: 100%;
    overflow-x: hidden;
}
.profile-hero-title {
    font-family:"FiraCode Nerd Font", monospace;
    font-size: 1.4em;
    color: white;
    margin-top: 1vw;
    margin-left: 1vw;
    width: 50%;
    text-align: center;
}
.profile-pic {
    position: relative;
    width: 25%;
    height: 15%;
    border: 1px transparent;
    border-radius: 10px;
    background-size:cover;
    overflow: hidden;
    margin-left: 60vw;
    justify-content: space-around;
}
