:root {
    --darkreader-neutral-background: rgb(61, 59, 59);
    --darkreader-neutral-text: #bcb8b4;
    --darkreader-selection-background: #0d4b96;
    --darkreader-selection-text: #c9c7c5;
}
html, body {
    background-color: rgba(43, 41, 41);
}

.profile-hero-title {
    font-family:"FiraCode Nerd Font", monospace;
    font-size: 1.4em;
    color: white;
    text-align: center;
}
main {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: auto;
    background-color: rgb(29, 29, 29);
    padding: 3%;
    max-width: 1000px;
    border-radius: 20px;
}

.profile-img-obj {
    display: block;
    max-height: 100px;
    float: right;
    padding: 5%;
    margin: auto;
}
