html, body {
    background-color: rgb(43, 41, 41);
    max-width: 100%;
    overflow-x: hidden;
}
.profile-hero-title {
    font-family:"FiraCode Nerd Font", monospace;
    font-size: 1.4em;
    color: white;
    margin-top: 1vw;
    width: 50%;
    text-align: center;
    margin-left: 25%;
}
.profile-pic-text {
    padding: 5px;
    margin-top: 1em;
    width: 100%;
    height: auto;
    border: 1px solid;
    display: flex;

}
.profile-pic {
    width: 45%;
    height: 35%; 
    border: 1px solid;
    border-radius: 10px;
    background-size:cover;
    overflow: hidden;
    float: left;
}
.profile-text {
    font-family:"FiraCode Nerd Font", monospace;
    font-size: 100%;
    text-align: center;
    width: 50%;
    color: white;
    float: left;
    left: 0;
}
